{%if user.is_authenticated%}
  <p>Alredy authenticated<p>
{%else%}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form method="post" action="/log/">
      <script>
        function setPlaceholderLog() {
          document.getElementById("id_username").placeholder = "Имя Пользователя";
          document.getElementById("id_password").placeholder = "Пароль";
        }
        setPlaceholderLog();
      </script>
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class = "regFormInput btn tada btn-embossed btn-primary pull-right">Войти</button>

    </form>
  </body>
</html>
{%endif%}
