
#preloader{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #ffffff;
z-index: 30;}

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}

#preloader .status {
position: absolute;
width: 280px;
height: 280px;
background: url(../images/status.gif) center center no-repeat;
background-size:280px;
margin: -100px 0 0 -140px;}

/*.intro-header {
	height: 100%; /* Full PAge
	padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content!
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../images/intro5.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
} */

/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; */
/*
#mainContent{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 1;
}


::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
}
/*
.classDomColor{
  color: #333333;
}

#logo{
  float: left;
  width: 200px;
  height: 150px;
}

#logoTitle{
  text-align: center;
}

#headContent{
  margin-left:20%;
  font-size: 35px;
  font-style: oblique;
  color: rgba(250, 250, 250, 1);
  z-index: 2;
  width: 60%;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
  display: block;
}

#content1{

  font: 255 20px 'Roboto', sans-serif;
  color: white;
  margin-left:20%;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  z-index: 2;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
  display: block;
}

.headButton{
  margin-left: 3.5%;
  margin-top: 10px;
  width: 20%;
  height: 75%;
  background-color: rgba(250, 250, 250, 0.3);
  color: rgba(250, 250, 250, 1);
  border-bottom: 2px solid rgba(250, 250, 250, 1);
  font: 255 25px 'Roboto', sans-serif;
  text-align: center;
  display: inline-block;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headButtonHover:hover{
  border-bottom: 3px solid #333333;
  color: #333333;
}

.headButtonClick:active{
  font-size: 23px;
}

.dropdown {
}

.dropdown-child {
    z-index: 4;
    display: none;
    padding: 15px 0px;
    font: 255 25px 'Roboto', sans-serif;
    text-align: center;
    background-color: rgba(250, 250, 250, 0.3);
    width: 100%;
}

.dropdown:hover{
  border-bottom: 3px solid #333333;
}

.dropdown:hover .dropdown-child {
  display: table;
}

.content{

  font: 255 25px 'Roboto', sans-serif;
  color: white;
  margin-left:20%;
  background: rgba(0, 0, 0, 0.5);
  height: 400px;
  z-index: 2;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid black;
  display: block;
}

#content2{
  background-color: #c4c4c4;
}

#content3{
  background-color: #b7b7b7;
}
#content4{
  background-color: #7e7e7e; #b7b7b7 #7e7e7e #4b4b4b
}

#footer{
  background-color: #4b4b4b;
}

#bus1{
  margin-top: 2%;
  margin-left: 2%;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 3;
}

#bus2{
  margin-top: 2%;
  margin-left: 6%;
  border: 1px solid rgba(0, 0, 0, 0);
  z-index: 3;
}



#registerLoginDiv{
  margin-left: 25%;
  width: 20%;
}
*/
.regLogButton{
  width: 49%;
  margin-left: 0.5%;
  margin-bottom: 5%;
  height: 10%;
  background-color: rgba(250, 250, 250, 0.3);
  color: rgba(250, 250, 250, 1);
  border: 1px solid rgba(250, 250, 250, 1);
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding-top: 13px ;
  line-height: 1.42857143;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.regLogButton:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.125);
}

/*
#registerForm{
  background-color: rgba(250, 250, 250, 0.3);
  display: block;
}

#loginForm{
  background-color: rgba(250, 250, 250, 0.3);
  display: none;
}

.regFormInput{
  margin-top: 50%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 80%;
  height: 7%;
  z-index: 3;
  text-align: center;
} */

.formfr {
  padding: 20px;
  padding-bottom: 60px;
  border: 1px solid #715f65;
  border-radius: 10px;
  width: 50%;
}

.contacts {
  text-align: left;
  padding-left: 20px;
}

.regfor {
  float: left;
  width: 380px;
}

.col-md-offset-5my {
  float: right;
  width: 700px;
}

.reviews {
  background-color: rgba(0, 0, 0, 0.5);
}

/* --------- ICONS -------

ul.menu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: none;
  padding: 0;
}
ul.menu li {
  display: inline-block;
  margin: 10px;
}
ul.menu li a i.fa {
  display: inline-block;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  padding: 10px;
  border-radius: 40px;
  color: #424242;
  position: relative;
  transition: all ease 0.2s;
}
ul.menu li a i.fa::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 40px;
  background-color: #9E9E9E;
}
ul.menu li a i.fa:hover {
  color: #fff;
  font-size: 18px;
}
ul.menu li a i.fa:hover::after {
  animation: animate ease 0.6s forwards;
}
ul.menu li a i.fa-facebook:hover::after {
  background-color: #3b5998;
}
ul.menu li a i.fa-twitter:hover::after {
  background-color: #00aced;
}
ul.menu li a i.fa-instagram:hover::after {
  background-color: #8a3ab9;
}
ul.menu li a i.fa-youtube-play:hover::after {
  background-color: #ff0000;
}

@keyframes animate {
  0%,20% {
    transform: scale(1);
    border-radius: 40px;
    background-color: #9E9E9E;
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
    border-radius: 10px;
  }
  60%,100% {
    transform: scale(1);
    border-radius: 5px;
  }
}
.seehere {
  font-size: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #ff0000;
}

*/

.copyright-ucalc {
  visibility: hidden;
}

#login{

}

#password{

}

#email{

}
