{% load static %}
<!--DOCTYPE html -->
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/BusCss.css' %}">
  </head>

  <body style = "background-image: url({% static 'images/grayBG.jpg' %}) ">
    <!-- Preloader ТИПА ТОТ КУБИК ПРИ ЗАГРУЗКЕ -->
	  <div id="preloader">
		     <div class="contpre">
			        <span class="status"></span>
		     </div>
	  </div>

    <!-- FullScreen
    <div>
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">RIA PHOTOGRAPHY</h1>
      <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Детский и семейный фотограф</h3>
      <ul class="list-inline intro-social-buttons">
        <liid="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Twitter</span></a>
        </li>
        <li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
        </li>
      </ul>
    </div> -->
        <!-- /.container
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
      </div>
    </div>
  </div> -->

    <div id = "mainContent">

      <div id = "headContent">
        <img id = "logo" src="{% static 'images/BusEs.png' %}"></img>
        <div id = "logoTitle"><h1><span class = "classDomColor">B</span>us <span class = "classDomColor">S</span>tation</h1></div>
      </div>

      <div class = "content" id = "content1">

        <div class = "headButton headButtonHover headButtonClick" id = "headButtonMain"><p>Main</p></div>
        <div class = "headButton dropdown" id = "headButtonProduct"><p>Product</p>
          <div class = "dropdown-child">
            <p class = "textHover">Helicopter</p>
            <p>Airplane</p>
            <p>Sheep</p>
            <p>Bus</p>
          </div>
        </div>

        <div class = "headButton headButtonHover headButtonClick" id = "headButtonContact" onclick = "scrollToContact()"><p>Contact</p></div>
        <div class = "headButton headButtonHover headButtonClick" id = "headButtonAbout"><p>About</p></div>

      </div>

      <div class = "content" id = "content2">

      </div>

      <div class = "content" id = "content3">

      </div>

      <div class = "content" id = "content4">
        <img id = "bus1" src = "{% static 'images/busImg1.jpg' %}" style = "height: 40%; width: 30%;"></img>
        <img id = "bus1" src = "{% static 'images/busImg2.jpg' %}" style = "height: 40%; width: 30%;"></img>
        <img id = "bus1" src = "{% static 'images/busImg1.jpg' %}" style = "height: 40%; width: 30%;"></img>
        <img id = "bus1" src = "{% static 'images/busImg2.jpg' %}" style = "height: 40%; width: 30%;"></img>
        <img id = "bus1" src = "{% static 'images/busImg1.jpg' %}" style = "height: 40%; width: 30%;"></img>
        <img id = "bus1" src = "{% static 'images/busImg2.jpg' %}" style = "height: 40%; width: 30%;"></img>
      </div>

      <div class = "content" id = "footer">
        <div id="registerLoginDiv">

            <div id = "loginButton" class = "regLogButton regLogButtonClick" onclick = "hide('registerForm', 'loginForm');"><p>Login</p></div>
            <div id = "regButton" class = "regLogButton regLogButtonClick" onclick = "hide('loginForm', 'registerForm');"><p>Register</p></div>
            <form id = "registerForm">
              <input class = "regFormInput" id = "login" placeholder="Login"></input></br>
              <input class = "regFormInput" id = "password" placeholder="Password"></input></br>
              <input class = "regFormInput" id = "email" placeholder = "Email"></input></br>
              <input type="submit" class = "regFormInput" value = "Register"></input>
            </form>
            <form id = "loginForm">
              <input class = "regFormInput" id = "email" placeholder = "Email"></input></br>
              <input class = "regFormInput" id = "password" placeholder = "Password"></input></br>
              <input type="submit" class = "regFormInput" value = "Login"></input>
            </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      document.getElementById("registerForm").style.display = "none";
      document.getElementById("loginForm").style.display = "block";
      function hide(id,id2){
        document.getElementById(id).style.display = "none";
        document.getElementById(id2).style.display = "block";
      }

      function scrollToContact(){
        document.getElementById("mainContent").scrollBy(0,document.getElementById("mainContent").scrollHeight);
      }
    </script>
    <script>
     $(window).on('load', function ()
     {
	      var $prld = $('#preloader');
        var $status = $prld.find('.status');
        $status.delay(2000).fadeOut();
        $prld.delay(2500).fadeOut('slow');
      });
    </script>
  </body>
</html>
